<div class="posts-record-main">
  <div class="comment_edit">
    <h1>コメント編集</h1>
  </div>
  <div class="comment_contents">
    <span>現在ログイン中のユーザー名：<%= current_user.nickname %></span>
    <%= link_to "コメント削除", post_comment_path(@post, @comment), data: { turbo_method: :delete }, class: :comment__delete__btn %>
  </div>
  <table>
    <thead>
      <tr>
        <th>投稿者名</th>
        <th>タイトル</th>
        <th>本文</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.user.nickname %></td>
        <td><%= @post.title %></td>
        <td><%= @post.text %></td>
        
      </tr>
    </tbody>
  </table>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_field :content, size: "30x1" %>
    <%= f.submit '送信', class: "btn-sm btn-primary" %>
  <% end %>
</div>

