<div class="main_user">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
            <% if user_signed_in? %>
              <% if current_user != @user %>
                <% if @user.followed_by?(current_user) %>
                  <%=link_to "フォロー中", user_relationships_path(@user.id),class: "followed_btn", data: { turbo_method: :delete } %>
                <% else %>
                  <%=link_to "フォローする", user_relationships_path(@user.id),class: "following_btn", data: { turbo_method: :post } %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'posts/posts', collection: @user.posts %>
      </div>
    </div>
  </div>
</div>