<main class="posts-record-show-main">
  <div class="inner_show">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title%>
      </p>
      <%= link_to "by #{@post.user.nickname}", user_path(@post.user), class: :post__user %>
      <% if current_user == @post.user %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post), class: :post__btn %>
          <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete }, class: :post__delete__btn %>
        </div>
      <% end %>
      <div id="like-btn<%= @post.id %>">
        <% if user_signed_in? && @post.favolited_by?(current_user)%>
          <%=link_to "いいね済", post_favolites_path(@post.id),  data: { turbo_method: :delete }, class: "tweet_likes" %>
        <% else %>
          <%=link_to "いいねする", post_favolites_path(@post.id), data: { turbo_method: :post }, class: "tweet_likes" %>
        <% end %>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-post">ニックネーム</th>
            <td class="detail-value"><%= @post.user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-post">テキスト</th>
            <td class="detail-value"><%= @post.text %></td>
          </tr>
          <tr>
            <th class="detail-post">カテゴリー</th>
            <td class="detail-value"><%= @post.category.name %></td>
          </tr>
          <tr>
            <th class="detail-post">場所</th>
            <td class="detail-value"><%= @post.place.name %></td>
          </tr>
          <tr>
            <th class="detail-post">実施日</th>
            <td class="detail-value"><%= @post.execution_date %></td>
          </tr>
        </tbody>
      </table>
      <div class="post__comments">
        <div class="comment_index">**コメント一覧**</div>
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
              
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "コメントする", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= link_to "#{comment.content}", edit_post_comment_path(@post,comment), class: :comment_post %>
              <%= link_to "(#{comment.user.nickname})", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= link_to 'もどる', root_path, class:"back-btn" %>
  </div>
</main>
